<h1>Add a New Place</h1>

<%= form_with model: @place, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <%= form.submit "Save Place" %>
<% end %>

<p><%= link_to "Back to Places", places_path %></p>
