<h1><%= @place.name %></h1>
<p><%= link_to "Back to Places", places_path %></p>

<h2>Entries</h2>
<ul>
  <% @entries.each do |entry| %>
    <li><strong><%= entry.title %></strong> - <%= entry.date %></li>
  <% end %>
</ul>

<%= link_to "Add Entry", new_place_entry_path(@place) %>
